@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

* {
  font-family: "Quicksand", sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
}

header {
  flex: 0 80px;
}

main {
  margin: 72px 20px 20px 20px;
  width: 100vw;
  max-width: 100%;
  flex-grow: 1;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  min-width: 370px;
}

menu {
  flex: 1;
  display: flex;
  /*  overwrite Bootstrap so the menu does not wrap */
  flex-direction: row !important;
  list-style: none;
}

p {
  font-size: 30px;
  padding-top: 20px;
}

.navbar-brand {
  padding-left: 0.3em;
  border-bottom: solid rgb(182, 182, 182) thin;
}

menu .nav-item {
  padding: 0 0.3em;
}

.chatbox {
  width: 50%;
  height: 500px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.chat-messages {
  height: 400px;
  overflow-y: auto;
}

.btn-fixed {
  width: 150px;
  height: 40px;
  margin: 0 auto;
}

@keyframes bounceIn {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  60% {
    transform: scale(1.1);
    opacity: 1;
  }
  80% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}

.image {
  padding-bottom: 30px;
  width: 60%;
  height: auto;
  margin: 0 auto;
  animation: bounceIn 1s ease-out;
}

@media (max-height: 600px) {
  header {
    display: none;
  }
  footer {
    display: none;
  }
  main {
    flex: 1 100vh;
  }
}

@media (orientation: portrait) {
  .chatbox {
    width: 80%;
    height: 500px;
  }
  .image {
    width: 90%;
    height: auto;
  }
}

@media (orientation: landscape) {
  .chatbox {
    width: 50%;
    height: 500px;
  }
  .image {
    width: 60%;
    height: auto;
  }
}
