@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

* {
  font-family: "Quicksand", sans-serif;
}

html,
body {
  height: 100%;
  display: flex;
  flex-direction: column;
}

header {
  flex: 0 80px;
}

main {
  margin: 72px 20px 20px 20px;
  width: 100%;
  flex-grow: 1;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 370px;
}

menu {
  flex: 1;
  display: flex;
  /*  overwrite Bootstrap so the menu does not wrap */
  flex-direction: row !important;
  list-style: none;
}

.navbar-brand {
  padding-left: 0.3em;
  border-bottom: solid rgb(182, 182, 182) thin;
}

menu .nav-item {
  padding: 0 0.3em;
}

@media (max-height: 600px) {
  header {
    display: none;
  }
  footer {
    display: none;
  }
  main {
    margin: 20px 20px 20px 20px;
  }
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  flex-wrap: wrap;
  flex-shrink: 0;
  padding-bottom: 50px;
}

.card {
  font-family: "Arial", sans-serif;
  color: black;
  border: 1px solid #ccc;
  padding: 1em;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 150px;
  min-width: 320px;
  max-width: 800px;
  width: 100%;
  padding: 1em;
  border: 1px solid #ccc;
  border-radius: 8px;
  flex-grow: 0;
  flex-shrink: 0;
}

.activity {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  text-align: center;
  font-size: 20px;
  width: 100%;
}

.activity div {
  flex: 1;
  align-items: center;
  text-align: center;
  display: flex;
  justify-content: center;
}

.activity button {
  flex: 0.25;
  align-items: center;
  text-align: center;
}
